eureka:
  client:
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${eureka.instance.port}/eureka/
  instance:
    hostname: 127.0.0.1
    port: 7001
    prefer-ip-address: true
feign:
  hystrix:
    enabled: true
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: cuit.hyl.graduation.sys.entity
server:
  port: 9060

spring:
  application:
    name: sys

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      auto-commit: true
      connection-test-query: SELECT 1
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      maximum-pool-size: 10
      minimum-idle: 5
      pool-name: MyHikariCP
    jdbc-url: jdbc:mysql://127.0.0.1:3306/graduation_authority?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT&useSSL=false
    password: 123456
    type: com.zaxxer.hikari.HikariDataSource
    username: root

  http:
    encoding:
      charset: utf-8
      enabled: true
      force: true

  jpa:
    show-sql: true

  main:
    allow-bean-definition-overriding: true

logging:
  level:
    cuit.hyl.graduation.sys.dao: debug

pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

swagger:
  show: true

security:
  oauth2:
    client:
      client-id: client
      client-secret: secret
      access-token-uri: http://localhost:9055/oauth/token
      user-authorization-uri: http://localhost:9055/oauth/authorize
    resource:
      token-info-uri: http://localhost:9055/oauth/check_token